<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<div th:replace="fragments/utility :: headTags"></div>
		<title>Acquisti</title>
	</head>
	<body>
		<!-- LISTA ACQUISTI ADMIN -->
	
		<!-- navbar -->
		<nav th:replace="fragments/navbar :: navbar"></nav>
	
		<div class="container">
			
			<!-- title V2 -->
			<h1><a th:href="@{/acquisti/create}"><i class="fas fa-plus-circle"></i></a>
			Acquisti</h1>
			<hr/>
			
			<!-- table -->
			<table class="table">
				<thead>
					<tr class="text-secondary fs-3">
						<th>Data</th>
						<th>Fornitore</th>
						<th>Totale</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="acquisto : ${acquisti}">
						<td th:text="${#temporals.format(acquisto.dataAcquisto, 'dd/MM/yy')}"></td> 
						<td th:text="${acquisto.nomeFornitore}"></td>
						<!--<td th:text="${acquisto.totaleAcquisto}"></td> da aggiungere totale calcolato,fare metodo findByAcquistoId su service e repository di Acquisto e poi fare una query sum(prezzoAcquisto)-->
						<td>
							<a class="me-2" th:href="@{|/acquisti/detail/${acquisto.id}|}"><i class="fas fa-info"></i></a>
							<a class="me-1" th:href="@{|/acquisti/edit/${acquisto.id}|}"><i class="fas fa-edit"></i></a>
							<a class="me-2" th:href="@{|/acquisti/delete/${acquisto.id}|}" onclick="return confirm('Are you sure?')"><i class="fas fa-trash-alt"></i></a>
						</td>
					 </tr>
				</tbody>
			</table>
		</div>
		
		<!-- scripts -->
		<div th:replace="fragments/utility :: scripts"></div>
	</body>
</html>
