<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<div th:replace="fragments/utility :: head"></div>
		<title>Percorsi</title>
	</head>
	<body>
		<!-- navbar -->
		<nav th:replace="fragments/navbar :: navbar"></nav>
	
		<div class="container">
		<th:block th:if="${successMessage != null}">
				<div th:replace="fragments/successMessage :: successMessage(${successMessage})"></div>
			</th:block>
			<h1>Percorsi</h1>
						
			<!-- add button -->
			<div>
				<a class="btn btn-primary" th:href="@{/percorsi/create}"><i class="fas fa-plus"></i> Nuovo percorso</a>
			</div>
			<hr/>
			
			<!-- table -->
			<table class="table">
				<thead>
					<tr>
						<th>Nome percorso</th>
						<th>Prezzo</th>
						<th>Posti max</th>
						<th>Durata</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${percorsi}">
						<td th:text="${item.nomePercorso}"></td>
						<td th:text="|${item.prezzo}€|"></td>
						<td th:text="${item.postiMax}"></td>
						<td th:text="${#temporals.format(item.durata, 'H:mm')}"></td> <!-- formattazione personalizzata -->
						<td>
							<a class="me-2" th:href="@{|/percorsi/detail/${item.id}|}"><i class="fas fa-info"></i></a>
							<a class="me-1" th:href="@{|/percorsi/editPercorso/${item.id}|}"><i class="fas fa-edit"></i></a>
							<a class="me-1" th:href="@{|/percorsi/editFoto/${item.id}|}"><i class="fas fa-edit"></i></a>
							<a class="me-2" th:href="@{|/percorsi/delete/${item.id}|}" onclick="return confirm('Are you sure?')"><i class="fas fa-trash-alt"></i></a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
		

	
	<!-- scripts -->
	<div th:replace="fragments/utility :: scripts"></div>
</body>

</html>