<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="fragments/utility :: head"></div>
		 <link rel="stylesheet" th:href="@{/css/home.css}">
		<title th:text="'Inserisci nuova prenotazione'"></title>
	</head>
	<body>
		<!-- navbar -->
		<nav th:replace="fragments/nabarUser :: navbar"></nav>
		
		<!-- FORM PRENOTAZIONE USER -->
		
		<!-- container -->
		<div class="container">
			
			<!-- titolo V2 -->
			<h1><a th:href="@{|/user/percorsi/${percorso.id}/visite|}"><i class="fas fa-arrow-circle-left"></i></a>
			<span th:text="|Prenotazione percorso ${percorso.nomePercorso}|"></span></h1>
			<hr/>
			
			<!-- form -->
			<form id="prenotazione-form"
				th:object="${prenotazione}"
				th:action="@{|/user/percorsi/${percorso.id}/visite/${visita.id}/prenotazioni/create|}"
				method="POST">
			

				
				<!-- campi form -->
				<div class="row">
				
					<!-- colonna sx -->
					<div class="col-6">
						<div class="row gy-2">
							<div class="col-6">
								<label class="form-label" for="nome">Nome</label>
								<input type="text" class="form-control" id="nome" th:field="*{nome}" th:errorClass="is-invalid">
								<div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
									<ul>
										<li th:each="err : ${#fields.errors('nome')}" th:text="${err}"></li>
									</ul>
								</div>
							</div>
							<div class="col-6">
								<label class="form-label" for="cognome">Cognome</label>
								<input type="text" class="form-control" id="cognome" th:field="*{cognome}" th:errorClass="is-invalid">
								<div th:if="${#fields.hasErrors('cognome')}" class="invalid-feedback">
									<ul>
										<li th:each="err : ${#fields.errors('cognome')}" th:text="${err}"></li>
									</ul>
								</div>
							</div>
							<!-- posti non dropdown
							<div class="col-6">
								<label class="form-label" for="quantita">N° posti</label>
								<input type="number" class="form-control" id="quantita" th:field="*{quantita}" th:errorClass="is-invalid">
								<div th:if="${#fields.hasErrors('quantita')}" class="invalid-feedback">
									<ul>
										<li th:each="err : ${#fields.errors('quantita')}" th:text="${err}"></li>
									</ul>
								</div>
							</div> -->
							
							<!-- dropdown posti -->
							<div class="col-6">
								<label class="form-label" for="">Posti da prenotare</label>
								<select name="quantita" class="form-select">
									<option selected>Seleziona n° posti</option>
									<option th:each="item : ${postiDisponibiliList}" th:value="${item}" th:text="${item}"></option>
								</select>
							</div>
	
							<!-- input type="hidden" ti permette di restituire un dato nella form (precompilato) per non perderlo -->
							<input type="hidden" th:field="*{visita}" id="visita">
	
							<!-- buttons -->
							<div class="col-12">
								<button class="btn btn-primary" type="submit"><i class="fas fa-check"></i> Salva</button>
								<a class="btn btn-primary" th:href="@{|/user/percorsi/${percorso.id}/visite|}"><i class="fas fa-times"></i> Cancella</a>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	
		<!-- scripts -->
		<div th:replace="fragments/utility :: scripts"></div>
	</body>
</html>