<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/utility :: headTags"></div>
	<title>Shop User</title>
</head>

<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container">
	
	<div class="row pt-5">
	<div class="col-3" th:each="item : ${prodotti}">
	<div class="card" style="width: 18rem;">
		<div>
			<h5 class="card-title text-center my-3" th:text="${item.nome}"></h5>
				<div class="position-relative" th:each="foto: ${item.getFoto}">
					<img th:src="|/prodotto/${foto.getId()}/foto|" style="width: 100%;" >
				</div >								
			<div class="card-body">
					<p class="card-text" th:text="${item.descrizione}"></p>
					<p class="card-text text-center" th:text="|${item.prezzoVendita}&euro;|"></p>
			</div>
			</div>
		
	</div >
	
	</div >
	</div >
		
</div>

	

	<div th:replace="fragments/utility :: scripts"></div>
</body>

</html>