<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<div th:replace="fragments/utility :: head"></div>
		<title>Le nostre guide</title>
	</head>
	<body>
	<div class="container">
		
		
		<table class="table">
			<thead>
				<tr>
					<th class ="text-secondary  fs-3 "scope="col">Nome</th >
					<th class ="text-secondary ms-2 fs-3"scope="col">Cognome</th >
					
					<th></th>
					
					
				</tr>
				
			</thead>
			<tbody>
				
				<tr  th:each="guida : ${guide}">
					<td  class=" "th:text= ${guida.nome}></td > 
					<td  class=" "th:text= ${guida.cognome}></td > 
					<td class="">
						
						<a class="btn btn-primary mb-1 mb-sm-0" th:href="@{|/guide/edit/${guida.id}|}"><i class="fas fa-edit"></i></a >
						<a class="btn btn-primary"  onclick="return confirm('Sei sicuro di voler eliminare questa guida?')"th:href="@{|/guide/delete/${guida.id}|}"><i class="far fa-trash-alt"></i></a>
					</td >
					
				</tr >
			</tbody>
		</table>
		
	
		<div class="col-3 ms-auto text-end">
			<a class="btn btn-primary "  href =#><i class="fas fa-plus"></i>Nuova guida</a>
		</div>
	</div>
	
	<div th:replace="fragments/utility :: scripts"></div>
	</body>
</html>