<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/utility :: head"></div>
	<title>Le nostre pizze</title>
</head>
<div class="container">
		
		<form id="guida-form" th:object="${guida}" th:action="@{/guide/create}" method="post">
		<ul>
		<li th:each="err : ${#fields.allErrors()}" th:text = "${err}" class="text-danger"></li   >
		</ul>
		<div class="row">
			<div class="col-8">
				<div class="row gy-2">
				<div class="col-6">
					<label class="form-label" for="nome">Nome</label>
					<input  type="text" class="form-control" id="nome" th:field="*{nome}" th:errorClass="is-invalid">
					<div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
						<ul>
							<li th:each ="err: ${#fields.errors('nome')}" th:text="${err}"></li >
						</ul>
					</div >
					
				</div>
				<div class="col-6">
					<label class="form-label" for="cognome">Cognome</label>
					<input  type="text" class="form-control" id="cognome" th:field="*{cognome}" th:errorClass="is-invalid">
					<div th:if="${#fields.hasErrors('cognome')}" class="invalid-feedback">
						<ul>
							<li th:each ="err: ${#fields.errors('cognome')}" th:text="${err}"></li >
						</ul>
					</div >
					
				</div>
				
				<div class="col-3">
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
			</div>
			</div>
			
		</form>
		</div>
		
	</div>

<body>

<div th:replace="fragments/utility :: scripts"></div>
	</body>
</html>