<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<div th:replace="fragments/utility :: head"></div>
		<title>Guide</title>
	</head>
	<body>
		<!-- LISTA GUIDE ADMIN -->
		
		<!-- navbar -->
		<nav th:replace="fragments/navbar :: navbar"></nav>
	
		<div class="container">

			<!-- scuccess message -->
			<th:block th:if="${successMessage != null}">
				<div th:replace="fragments/successMessage :: successMessage(${successMessage})"></div>
			</th:block>
		
			<!-- title V2 -->
			<h1><a th:href="@{/guide/create}"><i class="fas fa-plus-circle"></i></a>
			Guide</h1>
			<hr/>
			
			<!-- table -->
			<table class="table">
				<thead>
					<tr class="text-secondary fs-3">
						<th>ID</th>
						<th>Nome</th>
						<th>Cognome</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="guida : ${guide}">
						<td th:text="${guida.id}"></td>
						<td th:text="${guida.nome}"></td>
						<td th:text="${guida.cognome}"></td>
						<td>
							<a class="me-2" th:href="@{|/guide/detail/${guida.id}|}"><i class="fas fa-info"></i></a>
							<a class="me-1" th:href="@{|/guide/edit/${guida.id}|}"><i class="fas fa-edit"></i></a>
							<!--<a class="me-1" th:href="@{|/guide/editFoto/${guida.id}|}"><i class="fas fa-edit"></i></a>-->
							<a class="me-2" th:href="@{|/guide/delete/${guida.id}|}" onclick="return confirm('Are you sure?')"><i class="fas fa-trash-alt"></i></a>
						</td>
					 </tr>
				</tbody>
			</table>
		</div>
		
		<!-- scripts -->
		<div th:replace="fragments/utility :: scripts"></div>
	</body>
</html>
