<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<div th:replace="fragments/utility :: head"></div>
		<title>Le nostre guide</title>
	</head>
	<body>
		<!-- navbar -->
		<nav th:replace="fragments/navbar :: navbar"></nav>
	
		<div class="container">
			<h1>Le nostre guide</h1>
						
			<!-- add button -->
			<div>
				<a class="btn btn-primary" th:href="@{/guide/create}"><i class="fas fa-plus"></i>Nuovo percorso</a>
			</div>
			<hr/>
			
			<!-- table -->
			<table class="table">
				<thead>
					<tr>
						<th class ="text-secondary fs-3 "scope="col">Nome</th>
						<th class ="text-secondary ms-2 fs-3"scope="col">Cognome</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="guida : ${guide}">
						<td th:text="${guida.nome}"></td> 
						<td th:text="${guida.cognome}"></td>
						<td>
							<a class="me-2" th:href="@{|/guide/detail/${guida.id}|}"><i class="fas fa-info"></i></a>
							<a class="me-1" th:href="@{|/guide/edit/${guida.id}|}"><i class="fas fa-edit"></i></a>
							<a class="me-2" th:href="@{|/guide/delete/${guida.id}|}" onclick="return confirm('Are you sure?')"><i
									class="fas fa-trash-alt"></i></a>
							<td class="">
								<a class="btn btn-primary me-2" th:href="@{|/guide/detail/${guida.id}|}"><i class="fas fa-info"></i></a>
								<a class="btn btn-primary mb-1 mb-sm-0" th:href="@{|/guide/edit/${guida.id}|}"><i class="fas fa-edit"></i></a>
								<a class="btn btn-primary" onclick="return confirm('Sei sicuro di voler eliminare questa guida?')"
									th:href="@{|/guide/delete/${guida.id}|}"><i class="far fa-trash-alt"></i></a>
							</td>
							</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<!-- scripts -->
		<div th:replace="fragments/utility :: scripts"></div>
	</body>
</html>