<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<div th:replace="fragments/utility :: headTags"></div>
		<title>Dashboard</title>
	</head>
	<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div class="container">
		<h2>Classifica dei prodotti più venduti dal nostro Shop</h2>
		
		
		<h2>Lista delle visite guidate programmate per la prossima settimana</h2>
		
		
		<h2>Riepilogo degli incassi dell'ultimo mese</h2>
		<span th:text="${totalePrenotazioni}"></span>
	
	
	
	
	</div>
				

	<div th:replace="fragments/utility :: scripts"></div>
	</body>

</html>