<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<div th:replace="fragments/utility :: headTags"></div>
		 <link rel="stylesheet" th:href="@{/css/home.css}">
		<title>Home</title>
	</head>
	<body>
	<nav th:replace="fragments/nabarUser :: navbar"></nav>
	<div id="backgroundImg" class="mt-0 pt-0">
	<div class="container" id="image">
	  <img th:src="@{/img/statua-sfondo.png}" style="width: 100%; height: 75vh;">
	   <div class="textHeader">
                        Il museo <span id="citation"> è uno dei<br> luoghi che danno l’idea <br> più elevata
                            dell’uomo</span>
                        <br><span id="title">museo <i class="fas fa-university"></i></span>
                    </div>
	</div >
	</div >
	<section class="container mt-5">
	<div class="row">
	<div th:each="item : ${percorsi}" class="col-4" id="card">
	<div class="card shadow mb-5 bg-body rounded">
	<div th:text="${item.nomePercorso}" class="text-center my-2 text-secondary  fs-3 "></div >
	<div class="" th:each="foto: ${item.getFoto()}" id="imgPercorso">
					<img th:src="|/percorsi/${foto.getId()}/foto|" id="slide">
	</div >	
	<div id="card-info">

	<div class="text-center py-1" th:text="${item.prezzo}"></div >
	</div >
	
	</div >
</div >
	</div>
	<div class="text-center fs-1 text-secondary" ><h1 th:text="|Le nostre guide|"></h1 ></div>
	</section >
	<section class="container mt-5">
	<div class="row justify-content-between">
	<div th:each="guida : ${guide}" class="col-2">
	<div class="">
	<div th:text="|${guida.nome}|" class="text-center my-2 text-secondary  fs-3 "></div >
	<div th:text="|${guida.cognome}|" class="text-center my-2 text-secondary  fs-3 "></div >
	<div class="" th:each="foto: ${guida.getFoto()}" id="imgPercorso">
					<img class="img-fluid rounded-circle "th:src="|/percorsi/${foto.getId()}/foto|">
	</div >	
	<div id="card-info">

	
	</div >
	
	</div >
</div >
	</div>
	
	</section >
	
	
	
	
		<div th:replace="fragments/utility :: scripts"></div>
		<script>
		
		
		
	
		
		
		</script>
		
	</body>

</html>