<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/utility :: headTags"></div>
	<title>Edit Prodotto</title>
</head>

<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div class="container">
		<h1>Prodotto</h1>
		<div class="w-50 p-3 mx-auto">
		<form id="form-prodotto" th:object="${prodottoForm}"
			th:action="${edit} ? @{/prodotto/edit/{id}(id=${prodottoForm.id})} : @{/prodotto/create}" method="post"
			enctype="multipart/form-data">

			
			<div th:if="${#fields.allErrors().size() > 0}" class="col-3 alert alert-danger" role="alert">
					<span class="fw-bold ms-2"><i class="fas fa-exclamation-triangle"></i> Error list:</span>
					<ul class="mb-1">
						<li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
					</ul>
				</div>
			

			<div class="row gy-2">
				<div class="col-2">
					<label class="form-label" for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" th:field="*{nome}" th:errorClass="is-invalid">
					<div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">

									<ul>
										<li th:each="err : ${#fields.errors('nome')}" th:text="${err}"></li>
									</ul>
								</div>
				</div>
				<div class="col-2">
					<label class="form-label" for="prezzoVendita">Prezzo</label>
					<input type="text" class="form-control" id="prezzoVendita" th:field="*{prezzoVendita}" th:errorClass="is-invalid">
					<div th:if="${#fields.hasErrors('prezzoVendita')}" class="invalid-feedback">
									<ul>
										<li th:each="err : ${#fields.errors('prezzoVendita')}" th:text="${err}"></li>
									</ul>
								</div>
				</div>
				
				<div class="col-6">
					<label class="form-label" for="descrizione">Descrizione</label>
					<input type="text" class="form-control" id="descrizione" th:field="*{descrizione}" th:errorClass="is-invalid">
					<div th:if="${#fields.hasErrors('descrizione')}" class="invalid-feedback">
									<ul>
										<li th:each="err : ${#fields.errors('descrizione')}" th:text="${err}"></li>
									</ul>
								</div>

				</div>

				<div class="col-3">
					<label for="titolo" class="form-label">Title</label>
					<input id="titolo" type="text" class="form-control" th:field="*{titolo}" th:errorClass="is-invalid">
					<div th:if="${#fields.hasErrors('titolo')}" class="invalid-feedback">

						<ul>
							<li th:each="err : ${#fields.errors('titolo')}" th:text="${err}"></li>
						</ul>
					</div>
				</div>
				<div class="col-3" id="display_image">
					<label class="form-label" for="contenuto">Foto</label>
					<div class="card">
					<div id=cancel-btn class="text-end"><i class="fas fa-times"></i></div>
						<img src="" class="card-img-top" alt="">
						

					</div>
					<input type="file" class="form-control" id="default-btn" th:field="*{conteuntoProdotto}"
						th:errorClass="is-invalid">

					<div th:if="${#fields.hasErrors('conteuntoProdotto')}" class="invalid-feedback">
						<ul>
							<li th:each="err : ${#fields.errors('conteuntoProdotto')}" th:text="${err}"></li>
						</ul>
					</div>

				</div>

				<div class="col-12" >
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
		</form>
		</div >
		<div th:replace="fragments/utility :: scripts"></div>
	</div>

</body>

</html>