<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="fragments/utility :: headTags"></div>
		<title>Prodotti</title>
	</head>
	<body>
		<!-- LISTA PRODOTTI ADMIN -->
	
		<!-- navbar -->
		<nav th:replace="fragments/navbar :: navbar"></nav>
		
		<div class="container">
		
			<th:block th:if="${successMessage != null}">
				<div th:replace="fragments/successMessage :: successMessage(${successMessage})"></div>
			</th:block>
			
			<th:block th:if="${errorMessage != null}">
				<div th:replace="fragments/successMessage :: errorMessage(${errorMessage})"></div>
			</th:block>
			
			<!-- title V2 -->
			<h1><a th:href="@{/prodotto/create}"><i class="fas fa-plus-circle"></i></a>
			Prodotti</h1>
			<hr/>
			
			<!-- table -->
			<table class="table">
				<thead>
					<tr class="text-secondary fs-3">
						<th scope="col">ID</th >
						<th scope="col">Nome</th >
						<th scope="col" class="col-7">Descrizione</th >
						<th scope="col">Prezzo</th >
						<th scope="col">Quantità</th >
						<th scope="col"></th >
					</tr>
				</thead>
				<tbody>
					<tr th:classappend="(${prodotto.quantitaAcquistata - prodotto.quantitaVenduta <= 10 and prodotto.quantitaAcquistata - prodotto.quantitaVenduta >= 5} ? 'table-warning ' : '') + (${prodotto.quantitaAcquistata - prodotto.quantitaVenduta < 5} ? 'table-danger' : '')"
						th:each="prodotto : ${prodotti}">
						<!-- th:classappend="(${prodotto.prezzoVendita <= 10 and prodotto.prezzoVendita >7} ? 'table-danger ' : '') + (${prodotto.prezzoVendita <= 7} ? table-warning : '')" -->
						<td th:text="${prodotto.id}"></td>
						<td th:text="${prodotto.nome}"></td>
						<td th:text="${prodotto.descrizione}"></td>
						<td th:text="${prodotto.prezzoVendita}"></td>
						<td th:text="${prodotto.quantitaAcquistata - prodotto.quantitaVenduta}"></td>
						<td>
							<a class="me-2" th:href="@{|/prodotto/detail/${prodotto.id}|}"><i class="fas fa-info"></i></a>
							<a class="me-1" th:href="@{|/prodotto/editProdotto/${prodotto.id}|}"><i class="fas fa-edit"></i></a>
							<a class="me-1" th:href="@{|/prodotto/editFoto/${prodotto.id}|}"><i class="fas fa-images"></i></a>
							<a class="me-2" th:href="@{|/prodotto/delete/${prodotto.id}|}" onclick="return confirm('Are you sure?')"><i class="fas fa-trash-alt"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<!-- scripts -->
		<div th:replace="fragments/utility :: scripts"></div>
	</body>
</html>
