<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<div th:replace="fragments/utility :: headTags"></div>
		<title>magazzino</title>
	</head>
	<body>
	<div class="container">
		
		
		<table class="table">
			<thead>
				<tr>
					<th class ="text-secondary  fs-3 "scope="col">Nome</th >
					<th class ="text-secondary ms-2 fs-3"scope="col">Descrizione</th >
					<th class ="text-secondary  fs-3"scope="col">prezzo</th >
					<th></th>
					
					
				</tr>
				
			</thead>
			<tbody>
				<!--soluzione semplice,per aggiungere un colore quando sta per finire e un altro quando è esaurito non va bene -->
				<!-- prodotto.prezzoVendita è da sostituire con la quantità -->
				<tr th:classappend= "(${prodotto.prezzoVendita <= 10} ? 'table-danger ' : '') + (${prodotto.prezzoVendita <= 7} ? table-warning : '')" th:each="prodotto : ${prodotti}">
					<td  class=" "th:text= ${prodotto.nome}></td > 
					<td  class=" "th:text= ${prodotto.descrizione}></td > 
					<td  class=" "th:text= ${prodotto.prezzoVendita}></td > 
					<td class="">
						<a class="btn btn-primary me-2" th:href="@{|/prodotto/detail/${prodotto.id}|}"><i class="fas fa-info"></i></a>
						<a class="btn btn-primary " th:href="@{|/prodotto/edit/ ${prodotto.id}|}"><i class="fas fa-edit"></i></a >
						<a class="btn btn-primary"  onclick="return confirm('Sei sicuro di voler eliminare questo prodotto?')"th:href="@{|/prodotto/delete/ ${prodotto.id}|}"><i class="far fa-trash-alt"></i></a>
					</td >
				</tr >
			</tbody>
		</table>
		
	
		<div class="col-3 ms-auto text-end">
			<a class="btn btn-primary"  th:href ="@{/prodotto/create}"><i class="fas fa-plus me-2"></i>Nuovo prodotto</a>
		</div>
	</div>
	
	<div th:replace="fragments/utility :: scripts"></div>
	</body>
</html>