<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="fragments/utility :: head"></div>
		<title th:text="${edit} ? 'Aggiorna prenotazione' : 'Inserisci nuova prenotazione'"></title>
	</head>
	<body>
		<!-- navbar -->
		<nav th:replace="fragments/navbar :: navbar"></nav>
		
		<!-- container -->
		<div class="container">
		
			<!-- title V2 -->
			<h1><a th:href="@{/prenotazioni}"><i class="fas fa-arrow-circle-left"></i></a>
			<span th:text="${edit} ? 'Aggiorna prenotazione' : 'Inserisci nuova prenotazione'"></span></h1>
			<hr/>
			
			<!-- form -->
			<form id="prenotazione-form"
				th:object="${prenotazione}"
				th:action="${edit} ? @{/prenotazioni/edit/{id}(id=${prenotazione.id})} : @{/prenotazioni/create}"
				method="POST">
				
				<!-- validazione -->
				<div th:if="${#fields.allErrors().size() > 0}" class="col-3 alert alert-danger" role="alert">
					<span class="fw-bold ms-2"><i class="fas fa-exclamation-triangle"></i> Error list:</span>
					<ul class="mb-1">
						<li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
					</ul>
				</div>
				
				<!-- campi form -->
				<div class="row">
				
					<!-- colonna sx -->
					<div class="col-6">
						<div class="row gy-2">
							<div class="col-6">
								<label class="form-label" for="nome">Nome</label>
								<input type="text" class="form-control" id="nome" th:field="*{nome}" th:errorClass="is-invalid">
								<div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
									<ul>
										<li th:each="err : ${#fields.errors('nome')}" th:text="${err}"></li>
									</ul>
								</div>
							</div>
							<div class="col-6">
								<label class="form-label" for="cognome">Cognome</label>
								<input type="text" class="form-control" id="cognome" th:field="*{cognome}" th:errorClass="is-invalid">
								<div th:if="${#fields.hasErrors('cognome')}" class="invalid-feedback">
									<ul>
										<li th:each="err : ${#fields.errors('cognome')}" th:text="${err}"></li>
									</ul>
								</div>
							</div>
							<div class="col-6">
								<label class="form-label" for="quantita">N° posti</label>
								<input type="number" class="form-control" id="quantita" th:field="*{quantita}" th:errorClass="is-invalid">
								<div th:if="${#fields.hasErrors('quantita')}" class="invalid-feedback">
									<ul>
										<li th:each="err : ${#fields.errors('quantita')}" th:text="${err}"></li>
									</ul>
								</div>
							</div>
							
							<!-- dropdown select -->
							<div class="col-12">
								<label class="form-label" for="">Visita</label>
								<select name="visita" class="form-select">
									<option selected>Selezionare visita</option>
									<option th:each="item : ${visiteList}" th:value="${item.id}" th:field="*{visita}"
										th:text="|${#temporals.format(item.data, 'dd/MM/yy')} - ${item.orario} - ${item.percorso.nomePercorso}|">
									</option>
								</select>
							</div>
							
							<!-- buttons -->
							<div class="col-12">
								<button class="btn btn-primary" type="submit"><i class="fas fa-check"></i> Save</button>
								<a class="btn btn-primary" th:href="@{/prenotazioni}"><i class="fas fa-times"></i> Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div> 
		<!-- scripts -->
		<div th:replace="fragments/utility :: scripts"></div>
	</body>
</html>