<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="fragments/utility :: head"></div>
		<title>Prenotazioni</title>
	</head>
	<body>
		<!-- LISTA PRENOTAZIONI ADMIN -->
	
		<!-- navbar -->
		<nav th:replace="fragments/navbar :: navbar"></nav>
	
		<div class="container">
			
			<!-- scuccess message -->
			<th:block th:if="${successMessage != null}">
				<div th:replace="fragments/successMessage :: successMessage(${successMessage})"></div>
			</th:block>
			
			<!-- title V2 -->
			<h1><a th:href="@{/prenotazioni/create}"><i class="fas fa-plus-circle"></i></a>
			Prenotazioni</h1>
			<hr/>
			
			<!-- table -->
			<table class="table">
				<thead>
					<tr class="text-secondary fs-3">
						<th>ID</th>
						<th>Nome e cognome</th>
						<th>Posti prenotati</th>
						<th>ID visita</th>
						<th>Percorso</th>
						<th>Data</th>
						<th>Orario</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${list}">
						<td th:text="${item.id}"></td>
						<td th:text="|${item.nome} ${item.cognome}|"></td>
						<td th:text="${item.quantita}"></td>
						<td th:text="${item.visita.id}"></td>
						<td th:text="${item.visita.percorso.nomePercorso}"></td>
						<td th:text="${#temporals.format(item.visita.data, 'dd/MM/yy')}"></td> <!-- formattazione personalizzata -->
						<td th:text="${item.visita.orario}"></td>
						<td>
							<a class="me-2" th:href="@{|/prenotazioni/detail/${item.id}|}"><i class="fas fa-info"></i></a>
							<a class="me-1" th:href="@{|/prenotazioni/edit/${item.id}|}"><i class="fas fa-edit"></i></a>
							<a class="me-2" th:href="@{|/prenotazioni/delete/${item.id}|}" onclick="return confirm('Are you sure?')"><i class="fas fa-trash-alt"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<!-- scripts -->
		<div th:replace="fragments/utility :: scripts"></div>
	</body>
</html >
