<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<div th:replace="fragments/utility :: headTags"></div>
		<title>Vendite</title>
	</head>
	<body>
		<!-- LISTA VENDITE ADMIN -->
	
		<!-- navbar -->
		<nav th:replace="fragments/navbar :: navbar"></nav>
		
		<div class="container">
		
			<!-- title V2 -->
			<h1><a th:href="@{/vendite/create}"><i class="fas fa-plus-circle"></i></a>
			Vendite</h1>
			<hr/>
			
			<!-- table -->
			<table class="table">
				<thead>
					<tr class="text-secondary fs-3">
						<th>ID</th>
						<th>Prodotto</th>
						<th>Quantità</th>
						<th>Totale</th>
						<th>Data</th>
						<th></th>
					</tr>
				</thead>
				<tbody>		
					<tr th:each="venditaProdotto : ${venditaProdotti}">
						<td th:text="${venditaProdotto.id}"></td>
						<td th:text="${venditaProdotto.prodotto.nome}"></td>
						<td th:text="${venditaProdotto.quantita}"></td>
						<td th:text="${venditaProdotto.prodotto.prezzoVendita}*${venditaProdotto.quantita} + ' &#x20AC'" ></td>
						<td th:text="${#temporals.format(venditaProdotto.vendita.dataVendita, 'dd/MM/yy')}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<!-- scripts -->
		<div th:replace="fragments/utility :: scripts"></div>
	</body>
</html>
